.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.button {
    background-color: #000000dd;
    color: rgb(171, 69, 69);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
